.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.contenedor article {
    line-height: 28px;
}

.contenedor article h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
}

.contenedor article p {
    margin-bottom: 20px;
}

main{
    background-color: #ffffff;
}

.contenedor article .btn-abrir-popup {
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
    background: rgba(94, 125, 227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 700px;
    margin-left: 170px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.margen-tabla{
    margin-left: 10px;
}

.actualiza {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    width: 600px;
    margin-left: 30px;
    margin-right: 50px;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
    color: #030249
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
    opacity: 0;
    color: #030249;
}

.popup h5 {
    font-size: 20px;
    font-weight: 250;
    margin-bottom: 40px;
    opacity: 0;
    color: #030249;
}

.popup form .contenedor-inputs {
    width: 40%;
    margin-left: 250px;
    margin-right: 10px;
    opacity: 0;
}

.popup form .contenedor-inputs select {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.popup>h5>label{
    color:red;
}

.popup .contenedor-etiquetas>h4>label{
    color:red;
}

.actualiza>h5>label{
    color:red;
}

.actualiza .contenedor-etiquetas-actualiza>h4>label{
    color:red;
}

.actualiza form .contenedor-inputs-actualiza {
    width: 50%;
    margin-left: 350px;
    margin-right: 10px;
}

.actualiza form .contenedor-inputs-actualiza select {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.actualiza form .contenedor-inputs-actualiza input {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.popup form .contenedor-etiquetas {
    width: 60%;
    height: 15px;
    font-size: 20px;
    text-align: right;
    margin-top: 0;
}

.popup form .contenedor-etiquetas h4 {
    width: 50%;
    height: 5px;
    font-size: 20px;
    line-height: 52px;
    text-align: right;
    margin-bottom: 40px;
    margin-top: 5px;
}

.actualiza form .contenedor-etiquetas-actualiza {
    width: 50%;
    height: 15px;
    font-size: 20px;
    text-align: right;
    margin-top: 0;
    margin-left: 50px
}

.actualiza form .contenedor-etiquetas-actualiza h4 {
    width: 50%;
    height: 5px;
    font-size: 20px;
    line-height: 52px;
    text-align: right;
    margin-bottom: 40px;
    margin-top: 5px;
}

.popup form .contenedor-imagen input {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: center;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-color: #030249;
    color: #030249;
    background:#ffffff;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover {
    background: #030249;
    color:#ffffff;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
    transform: scale(1);
    opacity: 1;
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active h5 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
    animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.contenedor article {
    line-height: 28px;
}

.contenedor article h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
}

.contenedor article p {
    margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup2 {
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor article .btn-abrir-popup2:hover {
    background: rgba(94, 125, 227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay2 {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay2.active {
    visibility: visible;
}

.popup2 {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 550px;
    margin-left: 170px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup2 .btn-cerrar-popup2 {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup2 .btn-cerrar-popup2:hover {
    color: #000;
}

.popup2 h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup2 h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
    opacity: 0;
}

.popup2 h5 {
    font-size: 20px;
    font-weight: 250;
    margin-bottom: 40px;
    opacity: 0;
}

.popup2 form .contenedor-inputs2 {
    width: 50%;
    margin-left: 200px;
    margin-right: 10px;
    opacity: 0;
}

.popup2 form .contenedor-inputs2 select {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.popup2 form .contenedor-inputs2 input {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: left;

}

.popup2 form .contenedor-etiquetas2 {
    width: 50%;
    height: 15px;
    font-size: 18px;
    text-align: left;
}

.popup2 form .contenedor-etiquetas2 h4 {
    width: 50%;
    height: 5px;
    font-size: 18px;
    line-height: 52px;
    text-align: left;

}

.popup2 form .contenedor-imagen2 input {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.popup2 form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup2 form .btn-submit:hover {
    background: rgba(94, 125, 227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup2.active {
    transform: scale(1);
    opacity: 1;
}

.popup2.active h3 {
    animation: entradaTitulo2 .8s ease .5s forwards;
}

.popup2.active h4 {
    animation: entradaSubtitulo2 .8s ease .5s forwards;
}

.popup2.active .contenedor-inputs2 {
    animation: entradaInputs2 1s linear 1s forwards;
}

@keyframes entradaTitulo2 {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo2 {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


table th,
td {
    text-align: center;
}

td{
    color:#030249;
}

th {
    background-color: #030249;
    color: white;
}

.ventas {
    width: 100%;
}

.datos {
    margin: 0;
}

.datos>table {
    margin: 0;
    padding: 0;
}

.detalles {
    border-style: solid;
    width: 100%;
}

.detalles>h1 {
    color: #030249;
    padding-left: 80px;
}

.detalles>h3 {
    color: #030249;
    font-size: larger;
    padding-left: 10px;
}

.detalles .recibido {
    padding-left: 10px;
    display: flex;
}

.detalles .recibido>h3 {
    color: #030249;
    font-size: larger;
    width: 30%
}

.detalles .recibido>input {
    width: 60%;
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

#HoraActual {
    font-size: larger;
    font-family: Arial, sans-serif;
    color: #030249;
}

.botones {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: inline-block;
}

#hecho {}

#cancel {
    background-color: rgb(146, 13, 13);
}

.wrap {
    width: 90%;
    max-width: 1000px;
    /*margin:auto;*/
}

.wrap p {
    display: inline-block;
    line-height: 1em;
    color: #43434b;
}

.fecha {
    text-align: center;
    font-size: 1em;
    padding: 5px;
    width: 100%;
}

.reloj {
    width: 100%;
    font-size: 1em;
    text-align: center;
}

.quitar {
    background-color: rgb(146, 13, 13);
    border-radius: 8px;
    color: #ffffff;
    height: 40px;
}

.quitar>i,
p {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #ffffff;
}

.completo {
    background-color: #8d0404;
    font-size: 25px;
}

.completo>i {
    margin: 0;
    color: rgb(0, 0, 0);
    transition: .1s ease all;
    cursor: pointer;
    border-radius: 3px;
}

.completo:hover {
    background: rgba(94, 125, 227, .9);
}

.completo>i:hover {
    color: #8d0404;
}

.detalles .cambio-div form > h3{
    padding-left: 10px;
    font-size:20px;
    color:#030249;
}

.detalles .cambio-div form h3 >input{
    width:190px;
    color:#030249;
}

.detalles .cambio-div form h3 >.recibidoinput{
    width:130px;
}

.detalles .cambio-div form h3 >.cambio{
    border:none;
}


button:hover {
    background: red;
}